<__trans_section component="layoutslot">
<mt:if name="error">
    <mtapp:statusmsg
      id="layout-slot-refs-error"
      class="error">
        <mt:var name="error">
    </mtapp:statusmsg>
</mt:if>

<mt:loop name="slots">
    <ul class="slot-ref">
        <li>
            <a href="javascript:void(0)" class="slot-ref-name icon-left icon-minus"><mt:var name="name" escape="html"></a>
            @
            <mt:if name="uri">
                <a class="" href="<mt:var name='uri' escape='html'>">
            </mt:if>
            <span class="slot-ref-tmpl-name"><mt:var name="template" escape="html"></span>
            <mt:if name="uri">
                </a>
            </mt:if>
        </li>
        <mt:if name="description">
            <li class="icon-left">
                <mt:var name="description" escape="html">
            </li>
        </mt:if>
        <li class="slot-ref-source icon-left" style="display:none"><textarea readonly="readonly">&lt;mt:Slot name="<mt:var name="name" escape="html">"&gt;
<mt:var name="source" escape="html">
&lt;/mt:Slot&gt;
</textarea></li>
    </ul>
</mt:loop>

</__trans_section>
